.card {
  background-color: #4c5765;
  width: calc(100% - 40px);
  display: flex;
  gap: 30px;
  height: 135px;
  padding: 20px;
  border-radius: 8px;
}

.pointer {
  cursor: pointer;
}

.activeTrip {
  background-color: #7c9ebe;
}

.image {
  width: 135px;
  height: 135px;
  object-fit: cover;
  background-color: #646e85;
}

.info {
  padding: 5px 0;
  display: flex;
  flex-flow: column;
  flex: 1;
  gap: 15px;
  text-align: start;

  .name {
    display: flex;
    font-size: 20px;
    align-items: center;
  }

  .date {
    line-height: 22px;
  }

  .editBtn {
    background-color: #646e85;
    margin-left: 15px;
    width: 30px;
    height: 26px;
  }
}

.buttonContainer {
  display: flex;
  gap: 10px;

  button {
    // max-width: 260px;
    flex: 0;
  }
}

.asContainer {
  display: flex;
  flex-flow: column;
  justify-content: end;
}