.wrapper {
  min-width: 440px;
  max-width: 440px;
  display: flex;
  flex-flow: column;
  gap: 20px;
  height: 650px;
}

.buttonContainer {
  display: flex;
  gap: 15px;
  align-items: center;
}

.inputContainer {
  display: flex;
  gap: 15px;
  align-items: center;
}

.listContainer {
  padding-right: 15px;
  display: flex;
  flex-flow: column;
  flex: 1;
  gap: 10px;
  width: 100%;
  overflow-y: scroll;
}

.categories {
  display: flex;
  gap: 10px;
  width: 100%;
}

.label {
  margin: auto;
  font-size: 18px;
  height: 36px;
}

.errLabel {
  color: tomato;
}