.wrapper {
  width: 440px;
  display: flex;
  flex-flow: column;
  height: 650px;
}

.listContainer {
  display: flex;
  flex-flow: column;
  flex: 1;
  gap: 10px;
  margin-top: 20px;
  width: 100%;
  overflow-y: scroll;
}

.categories {
  display: flex;
  gap: 10px;
  width: 100%;
}

.label {
  margin: auto;
  font-size: 18px;
  height: 36px;
}

.errLabel {
  color: tomato;
}