.page {
  display: flex;
  flex-flow: column;
  min-height: calc(100dvh - 70px);
  width: 1024px;
  margin: 0 auto;
  padding-top: 10px;
  background-color: #2f343d;
}

.buttonContainer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 3px;
}

.content {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 20px;
  flex: 1;
}

.tab {
  flex: 1;
  background-color: #4f5467;
  color: white;
  padding: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #646e85;
  }
}

.tabActive {
  background-color: #646e85;
}
