.content {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: var(--page-bg);
  box-shadow: var(--box-shadow);
}

.autoButton {
  position: absolute;
  inset: 120px 20px auto auto;
  z-index: 8;
}

.page {
  position: relative;
  display: flex;
  flex-flow: column;
  gap: 10px;
  min-height: calc(100dvh - 70px);
  width: 75%;
  min-width: 1000px;
  margin: 0 auto;
  padding-top: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 3px;
  width: 100%;
}

.wrapper {
  width: calc(100% - 40px);
  display: flex;
  gap: 20px;
  flex: 1;
  position: relative;
  padding: 20px;
}

.icon {
  height: 20px;
}

.tab {
  flex: 1;
  background-color: var(--tab-bg);
  color: var(--font-secondary-color);
  padding: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: var(--tab-active-bg);
  }
}

.tabActive {
  background-color: var(--tab-active-bg);
}
