.listContainer {
  display: flex;
  flex-flow: column;
  flex: 1;
  gap: 20px;
  padding: 0 20px 20px 20px;
  overflow-y: scroll;
  max-height: calc(100dvh - 170px);
}

.emptyLabel {
  margin: auto;
  font-size: 16px;
}

.emptyContainer {
  font-size: 20px;
  display: flex;
  flex-flow: column;
  gap: 20px;
}