.card {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #646e85;
  flex: 1;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.name {
  text-align: start;
  flex: 1;
}

.buttonContainer {
  display: flex;
  gap: 10px;
  position: relative;

  button {
    text-align: start;
    font-size: 15px;
    width: 190px;

    &:hover {
      background-color: #4c5765;
    }
  }

  .deleteBtn {
    font-size: 15px;
    border: none;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon {
    height: 20px;
  }

  .noPointer {
    cursor: default;
  }
}

.deleteBtnEmpty {
  width: 30px;
}

.changeMenu {
  position: absolute;
  top: 30px;
  z-index: 8;
  background-color: #646e85;
  width: 190px;

  .menuItem {
    border: 2px solid #4c5765;
    padding: 5px 20px;
    font-size: 15px;
    margin-bottom: -1px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }
}