.card {
  position: absolute;
  z-index: 20;
  padding: 20px;
  background-color: #646e85;
  display: flex;
  flex-flow: column;
}

.title {
  font-size: 18px;
}

.buttonContainer {
  margin: 10px 0;
  span {
    color: #7c9ebe;
    cursor: pointer;
  }
}

.checkboxContainer {
  height: 30px;
  display: flex;
  align-items: start;
}