.shared-button {
  background-color: #4c5765;
  border: none;
  color: white;
  font-size: 18px;
  padding: 5px 20px;
  flex: 1;
  max-height: 32px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  text-wrap: nowrap;

  &:hover {
    background-color: #646e85;
  }
}

.shared-button-red {
  background-color: #654c4c;
  color: #ff8080;

  &:hover {
    background-color: #856464;
  }
}

.shared-button-blue {
  background-color: #69a6e7;
  color: #ffffff;

  &:hover {
    background-color: #a5d2ff;
  }
}

.shared-icon-button {
  width: 40px;
  height: 35px;
  background-color: #4c5765;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: #646e85;
  }
}

.shared-button-active {
  background-color: #646e85;
}