.shared-button {
  background-color: #4f5467;
  border: none;
  color: white;
  font-size: 18px;
  padding: 5px 20px;
  flex: 1;
  max-height: 32px;
  cursor: pointer;

  &:hover {
    background-color: #646e85;
  }
}

.shared-button-active {
  background-color: #646e85;
}