// FullCalendar Colors Vars
:root {
  --fc-button-bg-color: #4c5765;
  --fc-button-hover-bg-color: #646e85;
  --fc-button-active-bg-color: #646e85;
  --fc-neutral-bg-color: #4c5765;
  --fc-list-event-hover-bg-color: #646e85;
  --fc-bg-event-opacity: 1;
  --fc-today-bg-color: rgba(127, 190, 255, 0.6);
}

// Make now indicator more visible
.fc .fc-timegrid-now-indicator-line {
  border-width: 2px 0px 0px;
}

// Delete border color
.fc .fc-button {
  border: none;
}

// Capitalize Calendar Title
.fc .fc-toolbar-title {
  text-transform: capitalize;
  font-size: 26px;
}

// Makes cursor on list events a pointer
.fc-list-event {
  cursor: pointer;
}

// Disable Google Map style buttons
.gm-style-mtc-bbw {
  display: none;
}

// Disable Google Map info popup
.gm-style-iw, .gm-style-iw-tc {
  visibility: hidden;
}