@import "button";

// FullCalendar Colors Vars
:root {
  --fc-button-bg-color: var(--button-bg);
  --fc-button-hover-bg-color: var(--button-hover-bg);
  --fc-button-active-bg-color: var(--button-hover-bg);
  --fc-neutral-bg-color: var(--button-bg);
  --fc-list-event-hover-bg-color: var(--button-hover-bg);
  --fc-bg-event-opacity: 1;
  --fc-today-bg-color: rgba(127, 190, 255, 0.6);
  --fc-button-text-color: var(--font-primary-color);
  --fc-border-color: var(--font-teritary-color);
  --fc-highlight-color: rgba(255, 202, 105, 0.61);
}

// Make now indicator more visible
.fc .fc-timegrid-now-indicator-line {
  border-width: 2px 0px 0px;
}

// Delete border color
.fc .fc-button {
  border: none;
}

// Make show menu button blue
.fc .fc-showMenu-button {
  @extend .shared-button-positive;
}

// Capitalize Calendar Title
.fc .fc-toolbar-title {
  text-transform: capitalize;
  font-size: 26px;
}

// Makes cursor on list events a pointer
.fc-list-event {
  cursor: pointer;
}

// Disable Google Map style buttons
.gm-style-mtc-bbw {
  display: none;
}

// Disable Google Map info popup
.gm-style-iw, .gm-style-iw-tc {
  visibility: hidden;
}