// Global variables
:root {
  // Background colors
  --main-bg: #EDEEF0;
  --page-bg: #ffffff;
  --navbar-bg: #ffffff;
  --card-bg: #EDEEF0;
  --card-active-bg: #d8d9da;
  --card-positive-bg: #a2cbff;
  --tab-bg: #3C87E7;
  --tab-active-bg: #64a4ef;

  // Image background colors
  --image-primary-bg: #d8d9da;
  --image-secondary-bg: #d8d9da;

  // Box shadows
  // --box-shadow: 0px 0px 2px 2px #e8ebef;

  // Buttons colors
  --button-bg: #EDEEF0;
  --button-negative-bg: #E64646;
  --button-positive-bg: #3C87E7;

  --button-hover-bg: #d8d9da;
  --button-hover-negative-bg: #ce4747;
  --button-hover-positive-bg: #3e82d3;

  // Font colors
  --font-primary-color: #282d34;
  --font-secondary-color: #ffffff;
  --font-teritary-color: #9b9b9b;
  --font-positive-color: #3C87E7;
  --font-negative-color: #E64646;
}
