.page {
  display: flex;
  height: 90vh;
}

.auth_window {
  background-color: #383f49;
  width: 300px;
  padding: 40px 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: 24px;
}

.button_container {
  display: flex;
  gap: 10px;
  justify-content: center;
}
