.navbar {
  position: fixed;
  z-index: 10;
  width: calc(100vw - 120px);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  background-color: var(--navbar-bg);
  box-shadow: 0 0 4px 0 var(--font-teritary-color);
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 24px;
  cursor: pointer;
}

.logoIcon {
  height: 30px;
  width: 30px;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}

.avatar {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: var(--image-primary-bg);
}

.avatarIcon {
  height: 36px;
  width: 36px;
}